body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a {
    color: white;
    text-decoration: none;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid greenyellow;
}
.center{
    text-align: center;
}
h1{
    color: rgb(122, 243, 0);
}
.tab{
    overflow-x: auto;
}
table{
    width: 600px;
}
td , th{
    border: 1px solid rgb(11, 11, 11);
    padding: 10px;
}
thead ,tfoot{
    background-color:blue;
    color: beige;
}


tbody th, td{
    background-color: rgba(0, 255, 13, 0.219);
}

td.num{
    text-align: right;
}
caption{
    font-size: 1.5em;
    font-weight:bold ;
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
}


footer img{
    width: 30px;
    height: 30px;
    border-radius: 60px;

}
footer{
    display:flex ;
    justify-content:center;
}
footer a {
   margin: 20px;
   text-align: center; 
}
.container{
    padding: 0px 50px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
nav a:hover{
    color: chartreuse;
}